
<%= render "/refinery/admin/error_messages",
           :object => @item,
           :include_object_name => true %>

<%= render "locale_picker",
           :current_locale => Thread.current[:globalize_locale] if defined?(::Refinery::I18n) %>

<div class='field'>
  <%= f.label :title %>
  <%= f.text_field :title, :class => "larger widest" %>
</div>

<div class='field'>
  <%= f.label :publish_date %>
  <%= f.datetime_select :publish_date %>
</div>

<div class='field'>
  <%= f.label :expiration_date %>
  <%= f.datetime_select :expiration_date, :start_year => Time.now.year,
                        :include_blank => true %>
</div>

<div class='field'>
  <%= f.label :image -%>
  <%= render '/refinery/admin/image_picker',
             :f => f,
             :field => :image_id,
             :image => @item.image,
             :toggle_image_display => false,
             :description => t('refinery.news.admin.item')
  %>
</div>

<div class='field'>
  <div id='page-tabs' class='clearfix ui-tabs ui-widget ui-widget-content ui-corner-all'>
    <ul id='page_parts'>
      <li class='ui-state-default ui-state-active' data-index='0'>
        <a href="#page_part_teaser"><%= t('.teaser') %></a>
      </li>
      <li class='ui-state-default' data-index='1'>
        <a href="#page_part_body"><%= t('.body') %></a>
      </li>
      <li class='ui-state-default' id="custom_image_tab">
        <a href="#custom_tab_0">Obrázky</a>
      </li>
    </ul>

    <div id='page_part_editors'>
      <div class='page_part' id='page_part_teaser'>
        <%= f.text_area :teaser, :rows => "20", :id=> "page_parts_attributes_0_body", :class => "wymeditor widest" %>
      </div>
      <div class='page_part' id='page_part_body'>
        <%= f.text_area :body, :rows => "20", :id=>"page_parts_attributes_1_body", :class => "wymeditor widest" %>
      </div>

      <!--<div class='page_part' id='custom_tab_0'>
        <div class='wym_skin_refinery page_part' id='page_image_picker'>
          <div class='wym_area_top'>
          <span class='clearfix label_inline_with_link'>
            <a href="/refinery/images/insert?callback=image_added&amp;dialog=true&amp;height=510&amp;multiple=true&amp;width=950" id="add_image_link">Pridať obrázok</a>
          </span>
          </div>

          <div class='wym_box field images_field'>
            <ul id='page_images' class='clearfix'>
              <li class='empty'>
                <input id="page_images_attributes_0_id" name="item[images_attributes][0][id]" type="hidden" />
              </li>
            </ul>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
<%= render "/refinery/admin/form_actions",
           :f => f,
           :continue_editing => true,
           :delete_title => t('admin.news.items.item.delete'),
           :delete_confirmation => t('shared.admin.delete.message', :title => @item.title) %>


